# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

.env
node_modules
.DS_STORE

# resources file (downloaded from github on build)
src/main/resources/resources.json

sync